<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load filtro_templates %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description"  content=""/>
<meta name="keywords" content=""/>
<meta name="robots" content="ALL,FOLLOW"/>
<meta name="Author" content="AIT"/>
<meta http-equiv="imagetoolbar" content="no"/>
<title>{% block title %}{% endblock title %}</title>
{% block extrahead %}{% endblock extrahead %}

<link type="text/css" href="../../static/css/telas.css" rel="stylesheet" />
<link type="text/css" href="../../static/css/base.css" rel="stylesheet" />
<link type="text/css" href="../../static/css/custom-theme/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
		
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="../../static/css/ie7.css" />
<![endif]-->

</head>
<script>
	$(function() {
	});
</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzfs5IYi2KVsMYLmdqCO0x8TUW66wIRPU&sensor=false"></script>
<script>
    var latitude_fazenda = {{latitude_fazenda}}
    var longitude_fazenda = {{longitude_fazenda}}
    centro_fazenda = new google.maps.LatLng(latitude_fazenda,longitude_fazenda)
    
    function initialize()
    {
    var mapProp = {
      center:centro_fazenda,
      zoom:15,
      mapTypeId:google.maps.MapTypeId.SATELLITE
      };
    var map = new google.maps.Map(document.getElementById("googleMap")
      ,mapProp);
    
    var setor = new google.maps.Circle({
	center:centro_fazenda,
	radius:400,
	strokeColor:"#0000FF",
	strokeOpacity:0.8,
	strokeWeight:2,
	fillColor:"#0000FF",
	fillOpacity:0.4
	});
    
    setor.setMap(map);
    
    google.maps.event.addListener(map, 'click', function(event) {
	placeMarker(event.latLng);
    });
    function placeMarker(location) {
	var circulo = new google.maps.Circle({
	    radius:400,
	    strokeColor:"#0000FF",
	    strokeOpacity:0.8,
	    strokeWeight:2,
	    fillColor:"#0000FF",
	    fillOpacity:0.4
	    map: map,
	});
	var infowindow = new google.maps.InfoWindow({
	    content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
	});
	infowindow.open(map,marker);
	
	function saveData() {
	    var latlng = circulo.getPosition();
	  
	    var url = "fazenda/1/setor/1/edita_setor_mapa/?lat=" + latlng.lat() + "&lng=" + latlng.lng();
	    downloadUrl(url, function(data, responseCode) {
	    if (responseCode == 200 && data.length <= 1) {
		infowindow.close();
		document.getElementById("message").innerHTML = "Location added.";
	    }
	    });
	}
    }
	
    }
    function downloadUrl(url, callback) {
	var request = window.ActiveXObject ?
	    new ActiveXObject('Microsoft.XMLHTTP') :
	    new XMLHttpRequest;
      
	request.onreadystatechange = function() {
	  if (request.readyState == 4) {
	    request.onreadystatechange = doNothing;
	    callback(request.responseText, request.status);
	  }
	};
      
	request.open('GET', url, true);
	request.send(null);
      }
      
    function doNothing() {}
    
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<body>
    <div class="pagina">
        <div class="menu_lateral_box">
            {% for fazenda in fazendas %}
                <div class="menu_lateral_div">
                    <span class="menu_lateral_titulo"><a href='/fazenda/{{fazenda.id}}/'>{{fazenda.nome_fazenda}}</a></span>
                </div>
                {% for setor in fazenda|lista_setores %}
                <div class="menu_lateral_div_lvl2">
                    <span class="menu_lateral_lvl2"><a href='/fazenda/{{fazenda.id}}/setor/{{setor.id}}'>{{setor.numero_setor}} - {{setor.cultura_setor}}</a></span>
                </div>
                {% endfor %}
            {% endfor %}
            <div class="menu_lateral_div">
                <span class="menu_lateral_titulo"><a href='/fazenda/{{fazenda.id}}/contatos/'>Contatos</a></span>
            </div>
            <div class="menu_lateral_div">
                <span class="menu_lateral_titulo"><a href="/logout/">Sair</a></span>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>	
</body>
</html>

