{% extends "base.html" %}

{% block title %}
	{{fazenda.nome_fazenda}}
{% endblock title %}


{% block title2 %}
        {{fazenda.nome_fazenda}}
{% endblock title2 %}

{% block extrahead %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBzfs5IYi2KVsMYLmdqCO0x8TUW66wIRPU&sensor=false"></script>
<script>
    function initialize()
    {
	var mapProp = {
	    center:new google.maps.LatLng({{fazenda.get_latitude}},{{fazenda.get_longitude}}),
	    zoom:14,
	    mapTypeId:google.maps.MapTypeId.SATELLITE
	};
	var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
	
	{% for setor in setores %}
	    {% if setor.compara_media_referencia %}
		var cor = "#339900";
	    {% else %}
		var cor = "#FF0000";
	    {% endif %}
	    var circulo_setor = new google.maps.Circle({
		center:new google.maps.LatLng({{setor.latitude|stringformat:"f"}},{{setor.longitude|stringformat:"f"}}),
		radius:400,
		strokeColor:cor,
		strokeOpacity:0.8,
		strokeWeight:2,
		fillColor:cor,
		fillOpacity:0.4,
		clickable:true,
	    });
	
	    circulo_setor.setMap(map);
	    
	    google.maps.event.addListener(circulo_setor, 'click', function() {
		window.location = "http://127.0.0.1:8000/fazenda/1/setor/"+{{setor.id}}
	    });
	    
	    google.maps.event.addListener(circulo_setor, 'mouseover', function() {
		var infowindow = new google.maps.InfoWindow({
		    content:"Setor "+{{setor.id_modulo}}
		});
		infowindow.close(map);
		infowindow.setPosition(circulo_setor.getCenter());
		infowindow.open(map);
	    });
	{% endfor %}
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extrahead %}


{% block content %}
    <div class="fazenda_mapa">
        <div id="googleMap" style="width:600px;height:500px;"></div>
    </div>
    <form method="POST" action="/fazenda/{{fazenda.id}}/">
        {{fazenda_form.as_table}}
	<span><a href='/exclui_fazenda/{{fazenda.id}}/' class="btn btn-info marginT10">Excluir fazenda</a></span>
        <button type="submit" class="btn btn-info marginT10">Salvar alterações</button>
	<span><a href='/fazenda/{{fazenda.id}}/cria_setor/' class="btn btn-info marginT10">Criar Setor</a></span>
    </form>

    
{% endblock content %}