@charset "utf-8";

/***************
**** Login   ***
***************/

.back_login{
    float: left;
    width: 242px;
    height: 140px;
    margin: 300px 0px 0px 370px;
    border-radius: 3px;
    background-color: #93d8ec;
}

.div_login{
    float: left;
    width: 220px;
    margin: 10px 0px 0px 10px;
}

.div_erro_login{
    float: left;
    width: 220px;
    margin: 0px 0px 0px 10px;
}

.login_text{
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #560c07;
    width: 60px;
    margin: 2px 0px 0px 0px;
}

.login_input{
    float: right;
    width: 150px;
    margin: 0px 0px 0px 0px;
}

.login_submit_box{
    float: left;
    width: 220px;
    margin: 20px 0px 0px 10px;
}

.submit_login{
    display: block;
    float: right;
    margin: 0px 0px 0px 0px;
}

.esqueceu_senha{
    display: block;
    float: left;
    margin: 12px 0px 0px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: #560c07;
}


/***************
****  Inicio ***
***************/

.div_inicio_fazenda{
    display: block;
    float: left;
    width: 800px;
    height: 200px;
    background-color: #93d8ec;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 15px 0px 0px 100px;
}

.div_inicio_add{
    display: block;
    float: right;
    width: 100px;
    margin: 30px 100px 0px 0px;
}

.div_inicio_logoff{
    display: block;
    float: right;
    width: 50px;
    margin: 30px 100px 0px 0px;
}

.inicio_nome{
    font-size: 30px;
    font-family: cursive;
    color: #000000;
}

.div_inicio_esquerda{
    display: block;
    float: left;
    width: 380px;
    margin: 0px 0px 0px 0px;
}

.div_inicio_direita{
    display: block;
    float: right;
    width: 380px;
    margin: 0px 0px 0px 0px;
}

.div_inicio_exclui{
    display: block;
    float: right;
    margin: 10px 10px 0px 0px;
}

.div_titulo_faz_inicio{
    float: left;
    width: 380px;
    margin: 10px 0px 0px 10px;
}

.div_dentro_faz_inicio{
    float: left;
    width: 200px;
    margin: 10px 0px 0px 10px;
}

/***************
**** Fazenda   ***
***************/

.fazenda_form{
    float: left;
    width: 200px;
    height: 600px;
    margin: 0px 0px 0px 20px;
    border-radius: 3px;
}

.fazenda_form_box{
    float: left;
    width: 180px;
    height: 50px;
    margin: 0px 0px 0px 10px;
}

.fazenda_form_text{
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: #560c07;
}