@charset "utf-8";

/*********************************/
/********** CLASSES UTEIS **********/
/*********************************/

.wdt150{
    width: 150px;
}

/*********************************/
/********** PADROES **********/
/*********************************/

a{
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    background: none;
}

input{
    font-family: sans-serif;
    border: 1px solid #000000;
}

.botao{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #560c07;
    background: none;
    border: dashed;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
}

.erro_form{
    font-family: sans-serif;
    text-align: left;
    font-size: 10px;
    color: #560c07;
}

.span_msg_ok{
	
}

.span_msg_erro{
	
}
/*********************************/
/********** MAIN LAYOUT **********/
/*********************************/

.pagina{
    display: block;
    width: 1000px;
    height: 800px;
    margin: 0px auto;
    border-radius: 3px;
}

.pagina_background{
    background-image: url(img_css/1000x800.jpg);
}

/*********************************/
/********** MENU LATERAL **********/
/*********************************/

.menu_lateral_box{
    display: block;
    float: left;
    width: 200px;
    height: 600px;
    background-color: #80ff80;
    border-radius: 3px;
    margin: 0px 0px 0px 0px
    
}

.menu_lateral_div{
    display: block;
    float: left;
    width: 195px;
    height: 30px;
    border: inset;
    border-radius: 5px;
    border-color: #560c07;
    border-radius: 3px;
    margin: 0px 0px 0px 0px
    
}

.menu_lateral_div_lvl2{
    display: block;
    float: left;
    width: 195px;
    height: 20px;
    border: inset;
    border-radius: 5px;
    border-color: #560c07;
    border-radius: 3px;
    margin: 0px 0px 0px 0px
    
}

.menu_lateral_titulo{
    display: block;
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #560c07;
    border-radius: 3px;
    margin: 5px 0px 0px 5px;
    
}

.menu_lateral_lvl2{
    display: block;
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #560c07;
    border-radius: 3px;
    margin: 5px 0px 0px 80px;
    
}