@charset "utf-8";

/***************
****  Inicio ***
***************/
.div_mapa{
    display: block;
    float: left;
    width: 100px;
    margin: 10px 0px 0px 10px;
}

.div_texto{
    display: block;
    float: left;
    width: 400px;
    margin: 10px 0px 0px 10px;
}

/***************
**** Fazenda   ***
***************/

.fazenda_form{
    float: left;
    width: 200px;
    height: 600px;
    margin: 600px 0px 0px 20px;
    border-radius: 3px;
}

.fazenda_mapa{
    float: left;
    width: 600px;
    margin: 0px 0px 0px 20px;
    border-radius: 3px;
}

.fazenda_form_box{
    float: left;
    width: 180px;
    height: 50px;
    margin: 0px 0px 0px 10px;
}

.fazenda_form_text{
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: #000000;
}