<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load filtro_templates %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description"  content=""/>
<meta name="keywords" content=""/>
<meta name="robots" content="ALL,FOLLOW"/>
<meta name="Author" content="AIT"/>
<meta http-equiv="imagetoolbar" content="no"/>
<title>{% block title %}{% endblock title %}</title>
{% block extrahead %}{% endblock extrahead %}

<link type="text/css" href="../../static/css/telas.css" rel="stylesheet" />
<link type="text/css" href="../../static/css/base.css" rel="stylesheet" />
<link type="text/css" href="../../static/css/custom-theme/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
		
<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="../../static/css/ie7.css" />
<![endif]-->

</head>
<script>
	$(function() {
	});
</script>
<body>
    <div class="pagina">
        <div class="menu_lateral_box">
            {% for fazenda in fazendas %}
                <div class="menu_lateral_div">
                    <span class="menu_lateral_titulo"><a href='/fazenda/{{fazenda.id}}/'>{{fazenda.nome_fazenda}}</a></span>
                </div>
                {% for setor in fazenda|lista_setores %}
                <div class="menu_lateral_div_lvl2">
                    <span class="menu_lateral_lvl2"><a href='/fazenda/{{fazenda.id}}/setor/{{setor.id}}'>{{setor.numero_setor}} - {{setor.cultura_setor}}</a></span>
                </div>
                {% endfor %}
            {% endfor %}
            <div class="menu_lateral_div">
                <span class="menu_lateral_titulo"><a href='/fazenda/{{fazenda.id}}/contatos/'>Contatos</a></span>
            </div>
            <div class="menu_lateral_div">
                <span class="menu_lateral_titulo"><a href="/logout/">Sair</a></span>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </div>	
</body>
</html>

