{% extends "base.html" %}

{% block title %}
	Contatos
{% endblock title %}

{% block extrahead %}

{% endblock extrahead %}



{% block content %}
    
    {% for contato_form in lista_contatos %}
	<div class="div_contato">
        <form method="POST" action="/fazenda/{{fazenda.id}}/edita_contato/{{contato_form.initial.id}}/">
	    <table>
            <tr>
                <td class="texto">Nome:</td>
                <td>{{contato_form.nome_contato}}</td>
            </tr>
	    {% if contato_form.nome_atividade.errors %}
	    <tr>
		<td colspan="2" class="erro" align="center"> {{contato_form.nome_atividade.errors}}</td>
	    </tr>
	    {% endif %}
            <tr>
                <td class="texto">Telefone:</td>
                <td>{{contato_form.telefone}}</td>
            </tr>
	    {% if contato_form.tipo.errors %}
	    <tr>
		<td colspan="2" class="erro" align="center"> {{contato_form.tipo.errors}}</td>
	    </tr>
	    {% endif %}
            <input class="botao" type="submit" value="Salvar contato">
            <a href="/fazenda/{{fazenda.id}}/exclui_contato/{{contato_form.initial.id}}/">Excluir contato</a>
            </table>
        </form>
	</div>
	{% endfor %}
        <br><br>
        <a href='/fazenda/{{fazenda.id}}/cria_contato/'>Adicionar contato</a>
{% endblock content %}