{% extends "base.html" %}

{% block title %}
	Inicio
{% endblock title %}


{% block title2 %}
        Inicio
{% endblock title2 %}


{% block extrahead %}
    
    <script>
        $(function alertExcluirFaz() {
	});
    </script>

{% endblock extrahead %}



{% block content %}
    {% for fazenda in fazendas %}
        <div class="row-fluid">
            <div class="span8">
                <div class="box chart gradient">
                    <div class="title">

                        <h4>
                            <span class="icon16 icomoon-icon-bars"></span>
                            <span><a href='/fazenda/{{fazenda.id}}/'>{{fazenda.nome_fazenda}}</a></span>
                        </h4>
                        
                        <a href="#" class="minimize">Minimize</a>
                    
                    </div>
                    <div class="content" style="padding-bottom:0;">
                        <div class="div_mapa">
                            <img src="/static/img/mapa.png"/ width="100" height="100" alt="mapa">
                        </div>
                        <div class="div_texto">
                            <div>
                                <span>{{fazenda.descricao_fazenda}}</span>
                            </div>
                            <div>
                                <span>{{fazenda.endereco}} - {{fazenda.cidade}} - {{fazenda.estado}}</span>
                            </div>
                            <div>
                                <span>Data da Última Visualização:</span>
                                <span>{{fazenda.data_visualizacao}}</span>
                            </div>
                            <div>
                                <span>Data da Última Modificação:</span>
                                <span>{{fazenda.data_modificacao}}</span>
                            </div>
                            
                            <div>
                                <span class="fazenda_form_text"><a href='/exclui_fazenda/{{fazenda.id}}/' class="inicio_excluir"><img alt="Excluir fazenda" onclick="alertExcluirFaz()" src="/static/img/ico_close_off.png" onmouseover="src='/static/img/ico_close_over.png'" onmouseout="src='/static/img/ico_close_off.png'"/> - Excluir fazenda</a></span>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- End .box -->
            </div><!-- End .span8 --> 
        </div><!-- End .row -->
   
    {% endfor %}

    <div class="div_inicio_add">
        <span class=""><a href='/cria_fazenda/'>Criar Fazenda</a></span>
    </div>
    
{% endblock content %}

        
        <br>
        <a href='/logout/'>Sair</a>
</body>
</html>
